/* You can add global styles to this file, and also import other style files */


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}
